.header {
    padding: 10px 20px;
    background: #061C3F;
    margin-bottom: 30px;

    .page_title {
        font-size: 1.25rem;
        color: #D8DDE6;

        .emphasis {
            color: #fff;
        }
    }
}
