$color-deepcove: #061C3F;
$color-biscay: #16325C;
$color-midnightblue: #00396B;
$color-endeavor: #005FB2;

$color-kasmir: #54698D;
$color-cadetblue: #A8B7C7;
$color-scienceblue: #0070D2;
$color-azure: #1589EE;

$color-geyser: #D8DDE6;
$color-stream: #E0E5EE;
$color-flushmahogany: #C23934;
$color-koromiko: #FFB75D;

$color-linkwater: #F4F6F9;
$color-white: #FFFFFF;
$color-salem: #04844B;
$color-emerald: #4BCA81;

:export {
    color-deepcove: $color-deepcove;
    color-biscay: $color-biscay;
    color-midnightblue: $color-midnightblue;
    color-endeavor: $color-endeavor;

    color-kasmir: $color-kasmir;
    color-cadetblue: $color-cadetblue;
    color-scienceblue: $color-scienceblue;
    color-azure: $color-azure;

    color-geyser: $color-geyser;
    color-stream: $color-stream;
    color-flushmahogany: $color-flushmahogany;
    color-koromiko: $color-koromiko;

    color-linkwater: $color-linkwater;
    color-white: $color-white;
    color-salem: $color-salem;
    color-emerald: $color-emerald;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'SalesforceSans', sans-serif;
    background: $color-linkwater;
}
